#slides {
      display: none;
    }

    #slides .slidesjs-navigation {
      margin-top:3px;
    }

    #slides .slidesjs-previous {
      margin-right: 5px;
      float: left;
    }

    #slides .slidesjs-next {
      margin-right: 5px;
      float: left;
    }

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(../img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }

    .slidesjs-container{
      overflow-y: auto !important;

    }


  
/*CUSTOM STYLING START*/
.event-info{
    width: 50%;
    display: inline;
    float: left;
}
.container{
    margin-top: 15vmin;
    
}
.event-title{
    color: white;
    font-family: Roboto;
    font-weight: 700;
    font-size: 7vmin;
    margin-bottom: 5px;
}

.event-subtitle{
    color: white;
    font-family: Roboto;
    font-weight: 200;
    font-size: 5vmin;
    margin-bottom: 20px;
}
.event-info span{
    color: white;
    font-family: Roboto;
    
}
.event-description{
    display: block;
    font-weight: 100;
    margin-bottom: 15px;
}
.event-head{
    font-weight: 400;
    display: inline-block;
    width: 30vmin;
}
.event-value{
    font-weight: 100;
}
p{
    margin: 0px;
    margin-bottom: 5px;
}
.event-image{
    float:right;
    max-width: 40%;
}
/*CUSTOM STYLING END*/

@media (max-width: 767px) {
     
      .container{
        width: auto
      }

      .register{
        margin-bottom: 30px;
      }

      .slidesjs-slide img{
        visibility: hidden;
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto;
      }
        .event-image{
            display: none;
        }
        .event-info{
            width: 100%;
        }
    }
@media (max-height: 500px) {
      .container {
        width: auto;
          margin-top: 20vmin;
      }
        .event-image{
            display: none;
        }
        .event-info{
            width: 100%;
        }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 724px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
        width: 1170px
      }
    }