/* NAVBAR STYLE START*/
.nb-nav-bg{
    background-color: rgba(3,4,4,0.7) !important;

}

.nav-item{
    margin-right: 10px;
    position: relative;
}

.nav-link:hover{
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.nav-link{
    width: auto;
}
a::before{
    content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #19f6e8;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover::before{
    visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nb-link-style-text{
    color: #ffffff;
    font-family: Roboto;
    font-weight: 200;

}

.wrapper-menu {
  width: 30px !important;
  height: 30px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.wrapper-menu.open {
  transform: rotate(-45deg);  
}

.line-menu {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 3px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}

.navbar-toggler:focus{
    outline: 0;
}

.nav-link:focus{
    outline: 0px;
}


/* NAVBAR STYLE END */

/* CANVAS STYLE START*/
canvas{
    z-index: -10; 
    background-color: rgb(0,0,0)  !important;
    position:fixed;
    top: 0px;
    left: 0px; 
}

/* CANVAS STYLE END */

/*CENTER DIV START*/
.nb-logo{
    margin: auto;
    display: block;
    width: 27vmin;
    margin-top: 23vmin;
    margin-bottom: 4vmin;
    z-index: -9;
}

.nb-acmlogo{
    width: 40vmin;
}
.container-fluid{
    margin-top: 15vmin;
}

hr{
    border-color: white;
    border-width: 2px;
    width: 50%;
}

.main-text{
    color: white;
    font-family: sans-serif;
    width: 40%;
    margin:auto;
    text-align: center;
    font-weight: 200;
}

@media screen and (max-width: 767px) {
    .main-text {
        font-size: 0.8em;
        width: 60%;
    }
}

@media screen and (max-height: 400px) {
    .nb-logo {
        margin-top: 18vmin;
    }   
}

/* sm */
@media screen and (min-width: 768px) {
    .main-text {
        font-size: 0.8em;
        width: 60%;
        
    }   
}

/* md */
@media screen and (min-width: 992px)  {
    .main-text {
        font-size: 1em;
        width: 60%;
        
    }
}

/* lg */
@media screen and (min-width: 1200px){
    .main-text {
        font-size: 1em;
    }
}
/*CENTER DIV END*/

/*CONTACT MODAL STYLE START*/
.close:focus{
    outline: 0px;
}

.close:hover{
    cursor: pointer;
}
/*CONTACT MODAL STYLE END*/